back-end-devcamp-starter/creditcheck.wsdl

<wsdl:definitions name="CreditCheckService"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  targetNamespace="entelect:devcamp:creditcheckservice"
				  xmlns:s="http://www.w3.org/2001/XMLSchema"
				  xmlns:ent="entelect:devcamp:creditcheckservice"
>

	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="entelect:devcamp:creditcheckservice">
			<s:element name="CreditCheck">
				<s:complexType>
					<s:sequence>
						<s:element name="customerId" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CreditCheckResponse">
				<s:complexType>
					<s:sequence>
						<s:element name="CreditCheckResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>

	<wsdl:message name="CreditCheckRequest">
		<wsdl:part element="ent:CreditCheck" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreditCheckResponse">
		<wsdl:part element="ent:CreditCheckResponse" name="parameters"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="CreditCheckPortType">
		<wsdl:operation name="CreditCheck">
			<wsdl:input message="ent:CreditCheckRequest"></wsdl:input>
			<wsdl:output message="ent:CreditCheckResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CreditCheckBinding" type="ent:CreditCheckPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreditCheck">
			<soap:operation soapAction="entelect:devcamp:creditcheckservice:CreditCheck"/>
			<wsdl:input>
				<soap:body
						use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body
						use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CreditCheckService">
		<wsdl:port binding="ent:CreditCheckBinding" name="CreditCheckPort">
			<soap:address location="http://localhost:8083/CreditCheck"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>